@import '../../style/theme.scss';



.GC-ContentChatForm{
  &-form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    &-input, &-userInput {
      background-color: transparent;
      border-radius: 7px;
      border: 1px $c-purple solid;
      color: $c-accent;
      font-size: 18px;
      padding: 5px;
    }
    &-button {
      border-radius: 7px;
      border: 1px $c-purple solid;
      color: $c-accent;
      font-size: 18px;
      padding: 5px;
    }
    &-userInput {
      max-width: 150px;
      text-transform: capitalize;
    }
  }
}
