@import '../../style/theme.scss';

.gc-ChatList {
  height: 66vh;
  overflow-y: scroll;

  &-ul {
    color: #00818a;
    list-style: none;
    padding-left: 0;

    &-li {
      border-bottom: 1px dotted #ac936b;
      padding-bottom: 5px;
      text-transform: capitalize;
    }
  }
}
