.GC-ListChat {
  height: 70vh;
  &-ul {
    list-style: none;
    padding-left: 0;
    color: #00818a;

    &-li {
      border-bottom: 1px dotted #ac936b;
      padding-bottom: 5px;
      text-transform: capitalize;
    }
  }
}
