@import '../../style/theme';

.gc-GroupChat {
  height: 100vh;
  padding: 20px;

  &-title {
    background-color: $c-gray;
    border-radius: 7px;
    border: 1px solid;
    color: $c-white;
    font-size: 28px;
    padding: 7px;
  }
}
