@import '../../style/theme.scss';

.GC-ContentFormChat{
  &-input {
    background-color: transparent;
    border-radius: 7px;
    border: 1px $c-purple solid;
    color: $c-accent;
    font-size: 18px;
    margin-right: 7px;
    padding: 5px;
  }
  &-button {
    border-radius: 7px;
    border: 1px $c-purple solid;
    color: $c-accent;
    font-size: 18px;
    padding: 5px;
  }
}
